/*Template*/
body {
  margin: 0px;
  min-width: 750px;
}

.titleBar {
  background-color: black;
  width: 100%;
  padding: 15px 0px 0px 50px;
  height: 90px;
}

.titleBar img {
  float: left;
}

.titleBar a {
  text-decoration: none;
}

.titleBar a h1 {
  color: white;
  font-style: italic;
  padding-bottom: 10px;
}

.navbar {
  margin-top: -16px;
  padding-right: 0px;
  background-color: #666666;
  width: 100%;
}

.navbar ul {
  list-style: none;
  height: 40px;
}

.navbar ul li {
  display: inline-block;
  font-size: 2em; /* 1em = 16px*/
  border-right: 1px solid black;
  width: 20%;
  height: 100%;
  text-align: center;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

/*This changes the background color and color of the font when the cursor hovers over the link*/
.navbar ul li a:hover {
  background-color: grey;
  color: white;
}

/*This removes the right border that is on all of the right li's*/
.navbar ul #navbarLastLi {
  border-right: 1px solid #666666;
}

footer {
  width: 100%;
  border-top: 1px solid #d3d3d3;
  position:fixed;
  bottom:0px;
}
/*End Template*/

/*HomePage*/
.mainContentHomePage {
  width: 100%;
}

.mainContentHomePage .title {
  text-align: center;
  padding: 20px 0px;
  font-size:1.5em;
}

.mainContentHomePage .title h1 {
  font-family: "Times New Roman", Georgia, Serif;
}
.mainContentHomePage .picture .left{
  width: 40%;
  float: left;
}

.mainContentHomePage .picture .right{
  width: 40%;
  float: right;
}
/*End HomePage*/

/*Contact Page*/
div #title {
  padding-top: 30px;
}

table {
  font-size: 1.2em;
}

#map {
  height: 20em;
  width: 20em;
}
.address h4 {
  text-align: center;
}
/*End Contact Page*/


/*About Page*/
div .mainContentAbout {
  width: 100%;

}
div .mainContentAbout .text {
  width: 60%;
  float: left;
  font-weight: bold;
  padding-right: 20px;
}
div .mainContentAbout #images {
    width: 40%;
    float: left;
}
/*End About Page*/


/*Desserts Page*/
div .mainContentDessert {
  padding-top: 175px;
  font-size: 1.5em;
}

div .pictureDessert {
  padding-top: 150px;
}
/*End Desserts Page*/


/*Drinks Page*/
div .mainContentDrinks {
  padding-top: 100px;
  font-size: 1.5em;
}

div .pictureDrinks {
  padding-top: 60px;
}
